<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1><center>New order | <%= @order.plan.name %> | Amount: $<%= @order.plan.price * @order.plan.sqfoot %></center></h1><br /><br />
		</div>
		<div class="col-md-5">
			<%= render 'form' %>
		</div>
		<div class="col-md-7">


			<h4><i class="purchase-icon fa fa-star"></i> <%= link_to "What Does My Purchase Include?", "/purchase_info" %></h4>
			<h4><i class="purchase-icon fa fa-star"></i> <%= link_to "Frequently Asked Questions", "/questions" %></h4>
			<h4><i class="purchase-icon fa fa-star"></i> <%= link_to "What If I Want To Make Custom Modificatons To the Plan?", "/custom_mods" %></h4><br /><br />
		</div>

<%= link_to 'Back', plans_path %><br /><br /><br /><br />
	</div>
</div>

