<div class="container">
	<div class="row">
<div class="nuvolio span12">
	
	<center><h3>Presented by Nuvolio</h3></center> 
	<%= link_to image_tag("BlueArchitect.jpg", :align => 'left') %>
	<br />
	<p>
		<b><%= link_to "Nuvolio", root_path %></b> seeks to connect home buyers with cutting edge custom home plans previously not easily available to the public. We want you to get the plan that you seek for an exceptional price.   
	</p>
<br /><br />

	<p>Our inventory of plans is constantly being modified and expanded. You'll find unique floor plans from a combination of the best talent in Austin Texas. These hard working architectural firms are constantly designing new plans and they are being added to this portfolio on a regular basis, so if you have not found exactly what you are looking for today you may find it here tomorrow.</p><br />		
	<p>
	If you feel that one of these plans could be a good fit, but you have some questions, you can purchase an hour with the architect of your choice for $75 or up to 3 hours for $225. </p>
	 
	<P><b><li><%= link_to "Schedule a time now.", '/contact' %></li></b></p>
	</p><br /><br />
	<p>
	If you are unsure if a plan will fit the lot you are building on, fee free to save the plan and email it to your builder.  <b>We can even set up a call between an architect and builder to guarantee success.</b> 
		</p><br /> <br />

	<p>Extensive planning and research have already gone into these custom designs by the top talent in Austin, Texas. If you have found a plan that is right for you and your family, this an opportunity to <b>save weeks of time and thousands of dollars.</b></p><br /><br />

	<p>For more details on what is included <%= link_to "click here", "/purchase_info" %> 
	</p><br /><br />

	<h3><center>Ready to find your next house plan?</center></h3> <p><center><a href="/plans" class="btn btn-primary btn-lg">Search Our Plans</a></center></p> <br /><br />

	<h3><center>Some of the Architects we are working with:</center></h3><br />
	<div class="arch-images">
		<div class="col-md-4 text-center">
			<%= image_tag("Venture-Four-logo.png") %>
		</div>
		<div class="col-md-4 text-center">
		 	<%= image_tag("MB-LOGO.png") %> 
		</div>
		<div class="col-md-4 text-center">
			<div id="design_visions">
				<%= image_tag("logo.png") %>
			</div>
		</div>
	</div>

	<br /><br /><br />

				
	</div>
</div>
</div>


