<script language="JavaScript1.1">
<!--

/*
JavaScript Image slideshow:
By JavaScript Kit (www.javascriptkit.com)
Over 200+ free JavaScript here!
*/

var slideimages=new Array()
var slidelinks=new Array()
function slideshowimages(){
for (i=0;i<slideshowimages.arguments.length;i++){
slideimages[i]=new Image()
slideimages[i].src=slideshowimages.arguments[i]
}
}

function slideshowlinks(){
for (i=0;i<slideshowlinks.arguments.length;i++)
slidelinks[i]=slideshowlinks.arguments[i]
}

function gotoshow(){
if (!window.winslide||winslide.closed)
winslide=window.open(slidelinks[whichlink])
else
winslide.location=slidelinks[whichlink]
winslide.focus()
}

//-->
</script>



<script>
$(document).ready(function(){
	$('#first').click(function(){
		$('.header').css({"background" : "url(https://www.nuvolio.com/uploads/plan/image2/773/Back_Exterior.jpg)",
						"background-size" : "cover"

			});
	});
$('#second').click(function(){
		$('.header').css({"background" : "url(https://www.nuvolio.com/system/plans/elevations/000/000/753/full/1_(1).jpg)",
						"background-size" : "cover"

			});
	});
$('#third').click(function(){
		$('.header').css({"background" : "url(/assets/Back2.jpg)",
						"background-size" : "cover"

			});
	});
});
</script>

<!-- Full Page Image Header Area -->


    <div id="top" class="header">

    	     
    	<div id="side-text" class="col-md-4 pull-right">
			<h3>Nuvolio</h3>
    		<p><red>600+</red>  Custom Designed Architectural <red>Floor Plans</red>
by <em>Award Winning</em> Architects out of Austin, Texas</p>
    		<ul>
    			
    			<li>Buy your plan for a fraction of the cost</li>
                <li>Cutting-edge custom designed floor plans</li>
    			<li>Custom modifications available upon purchase</li><br />

    		</ul>
    		<p>Make your dream home a reality!</p>
    		<div id="first" class="col-md-4">
    			<%= image_tag "https://www.nuvolio.com/uploads/plan/image2/773/Back_Exterior.jpg" %>
    		</div>
    		<div id="second" class="col-md-4">
    			<%= image_tag "https://www.nuvolio.com/system/plans/elevations/000/000/753/full/1_(1).jpg" %>
    		</div>
    		<div id="third" class="col-md-4">
    			<%= image_tag "Back2.jpg" %><br />
    		</div>
    		<p><center><a href="#about" class="btn btn-primary btn-lg">Find Out More</a>  <a href="#search" class="btn btn-primary btn-lg">Plan Search</a></center></p>
    	</div>

		
	</div>

    <!-- /Full Page Image Header Area -->

    <div class="reset span12"></div>
<div id="about" class="more-info">
	<h3>Nuvolio | Providing cutting edge floor plans.</h3>
	<p><red>Your family will love the way your custom home lives. Nuvolio makes it simple to find the floor plan that is right for you! </red></p>
	<p><red>When you purchase a plan you will receive the <%= link_to "builder’s set", '/purchase_info' %> of  architectural drawings, along with your license agreement. Upon purchase you will receive a 1 hour free consultation with the architect  to answer all of your questions.</p>
    <p>For a fraction of the cost take the first step to <b>creating your dream home!</b></p>
</red>
<br />
</div>

    <!-- /Services -->

    <div id="services" class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <!-- Took Out Heading -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 text-center">
            <div class="service-item"><a href="#search">
              <i class="service-icon fa fa-home"></i>
              <h3>Plan Search</h3>
              <p><span><red>Search our database of over 500 plans</red></span></p>
                <p>This portfolio is in tune with the design trends of the Texas hill country & greater Austin area. Find the custom home that is laid out the way you envision it to fit your lifestyle. 
</p></a>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="service-item"><a href="/about">
              <i class="service-icon fa fa-envelope"></i>
              <h3>About the Portfolio</h3>
              <p><span><red>Do you have a plan specific question?</red></span></p>
                <p>Let’s turn every stone to insure you are satisfied with your purchase. 
                 We can put you in contact with the plan's designer and make sure ALL your questions are answered.
</p></a>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="service-item"><a href="/purchase_info">
              <i class="service-icon fa fa-money"></i>
              <h3>Purchase a plan</h3>
              <p><span><red><u>Save</u> by purchasing an already completed plan</red></span></p>
                <p>This is a unique opportunity to purchase a custom plan from a highly sought after architect for substantially less than you would spend designing it from scratch. 
</p></a>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="service-item"><a href="/custom_mods">
              <i class="service-icon fa fa-pencil-square-o"></i>
              <h3>Custom Modification</h3>
              <p><span><red>Have you found the right design, but need it adjusted?</red></span></p>
                <p>Do you love the layout, but would like to change the exterior style (elevation)?   
                  Would you like to add a room, extend the covered patio, flip the plan or change the garage?</p> </a> 
 
            </div>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-4 text-center">
            <div id="search-scroll">
            <h2><a href="#search"><i class="fa fa-level-down fa-3x"></i></a></h2>
          </div>
        </div>

      </div>
    </div>
    <!-- /Services -->
<div id="search"></div>
<br /><br />

<div class="row">
	<div class="container">

		<div id="home-search" class="col-md-4">
<center><h3>Find Your Next Custom Home Here</h3></center><br />

<%= search_form_for @q do |f| %>


<p>Square Footage Min: <%= f.text_field :sqfoot_gteq %></p>

<p>Square Footage Max: <%= f.text_field :sqfoot_lteq %></p>


<p>Number of Bedrooms: <%= f.select :bedrooms_eq, options_for_select([[''],['1', 1], ['2', 2],['3', 3],['4', 4]]), :class => 'select_field' %></p>


<p>Number of Bathrooms: <%= f.select :bathrooms_eq, options_for_select([[''],['1', 1], ['2', 2],['3', 3],['4', 4]]), :class => 'select_field' %></p>


<p>Number of Stories: <%= f.select :stories_eq, options_for_select([[''],['Single-Story', 1], ['Multi-Story', 2]]), :class => 'select_field' %></p>
 
<center><p><%= f.submit class: "btn btn-lg btn-primary" %> 
	<%= link_to "More Options", plans_path, class: "btn btn-lg btn-primary" %>
</p></center>


<% end %>

</div>
<div class="col-md-8">
<div class="popular">

<h3>Featured Plans</h3>
<br />
<div class="slideshow">
	<center>
<a href="javascript:gotoshow()"><img src="food1.jpg" name="slide" border=0 width=640 height=360></a>
</center>
<script>
<!--

//configure the paths of the images, plus corresponding target links
slideshowimages("https://www.nuvolio.com/uploads/plan/image2/773/Back_Exterior.jpg","https://www.nuvolio.com/system/plans/elevations/000/000/753/full/1_(1).jpg","/assets/Custom-Home-in-Rim-Rock-01.jpg","/assets/Back2.jpg","/assets/DSC_0735.jpg","/assets/Belvedere-Custom-Home-in-Bee-Cave-01.jpg","/assets/03-DS2_4140-Edit1-721x480.jpg")
slideshowlinks("/plans/773","/plans/753","/plans/367","/plans/581","/plans/368","/plans/698","/plans/655")

//configure the speed of the slideshow, in miliseconds
var slideshowspeed=3500

var whichlink=0
var whichimage=0
function slideit(){
if (!document.images)
return
document.images.slide.src=slideimages[whichimage].src
whichlink=whichimage
if (whichimage<slideimages.length-1)
whichimage++
else
whichimage=0
setTimeout("slideit()",slideshowspeed)
}
slideit()

//-->

</script>
</div>
</div>
</div>
</div>
</div>

<div class="col-md-12">
	<div class="astric">
<p></p><br /><br />
</div>

</div>




<div class="questions span12">
	<h3>Still have questions?</h3>
	<p>Check out our <%= link_to "FAQ page", "/questions" %> or feel free to <%= link_to "Contact Us", contact_path %></p><br /><br />
</div>

<!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->

   
    <script>
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>
	












