<script language="JavaScript1.1">
<!--

/*
JavaScript Image slideshow:
By JavaScript Kit (www.javascriptkit.com)
Over 200+ free JavaScript here!
*/

var slideimages=new Array()
var slidelinks=new Array()
function slideshowimages(){
for (i=0;i<slideshowimages.arguments.length;i++){
slideimages[i]=new Image()
slideimages[i].src=slideshowimages.arguments[i]
}
}

function slideshowlinks(){
for (i=0;i<slideshowlinks.arguments.length;i++)
slidelinks[i]=slideshowlinks.arguments[i]
}

function gotoshow(){
if (!window.winslide||winslide.closed)
winslide=window.open(slidelinks[whichlink])
else
winslide.location=slidelinks[whichlink]
winslide.focus()
}

//-->
</script>

<div class="pagination-centered">
		<div class="logo span12">

		<%= image_tag("nuvolio2.png", :align => 'left') %><br /><br />
		</div>
	</div>
	
		<div class="heading span12">
		<h3>Welcome to Nuvolio...Your next custom home starts here.</h3><br />
		</div>

<!--		
<div class="seo span2">

	<%= link_to image_tag("twitter.png", :align => 'right'), "https://twitter.com/nuvolanetworks" %>
	<%= link_to image_tag("facebook.png", :align => 'right'), "https://www.facebook.com/pages/nuvola-netwroks.com" %>
	<%= link_to image_tag("linkedin.png", :align => 'right'), "http://www.linkedin.com/" %>
</div>
//-->
<div class="reset span12"></div>

<div class="home-top1 span2">
<img src="/assets/mhouse.jpg">
<h4><%= link_to "Search for Custom Plans", plans_path %></h4>
<p><span>Search our database of over 1000 plans</span></p>
<p>Don't settle for what "Almost" works.  with our extensive plan listing you are sure to find exactly what you need</p>
</div>

<div class="home-top1 span2">
<img src="/assets/mhouse.jpg">
<h4><%= link_to "Contact an Architect", plans_path %></h4>
<p><span>Have a question about a plan?</span></p>
<p>We can put you in contact with the plan's designer and make sure ALL your questions are answered.</p>
</div>
<div class="home-top1 span2">
<img src="/assets/mhouse.jpg">
<h4><%= link_to "Purchase a plan", plans_path %></h4>
<p><span>Save by purchasing a completed plan</span></p>
<p>Build the exact custom home you want in the price range you can afford. <%= link_to "Click for more details", contact_path %></p>

</div>
<br /><br />
<div class="popular span5">
<p>Plan Your New Home!</p><br />


<div class="slideshow">
<a href="javascript:gotoshow()"><img src="food1.jpg" name="slide" border=0 width=640 height=400></a>
<script>
<!--

//configure the paths of the images, plus corresponding target links
slideshowimages("/assets/Exterior.jpg","/assets/Patio.jpg","/assets/3956planv2.jpg","/assets/Back2.jpg","/assets/Patio.jpg","/assets/Master SuiteBathroom-1.jpg","/assets/3956planv2.jpg")
slideshowlinks("http://www.nuvolio.com/plans","http://www.nuvolio.com/plans","http://www.nuvolio.com/plans5","http://www.nuvolio.com/plans","http://www.nuvolio.com/plans","http://www.nuvolio.com/plans","http://www.nuvolio.com/plans")

//configure the speed of the slideshow, in miliseconds
var slideshowspeed=2500

var whichlink=0
var whichimage=0
function slideit(){
if (!document.images)
return
document.images.slide.src=slideimages[whichimage].src
whichlink=whichimage
if (whichimage<slideimages.length-1)
whichimage++
else
whichimage=0
setTimeout("slideit()",slideshowspeed)
}
slideit()

//-->
</script>
</div>
</div>

<div class="astric span12">
<p>* * * *</p>
</div>

</div>
<div class="reset span12"></div>
<div class="more-info span12">
	<h3>Nuvolio | Making building your next custom home easy!</h3>
	<p>Look around and check out our custom home plans.  If you like what you see, save it, email the plan to your friends for feedback, or purchase it!</p>
	<p>When you purchase the plan you will be sent the <u>complete architectural</u> drawing and have everything you need to get started on your new custom home</p>
<br />
</div>	

<div class="astric span12">
<p>* * * *</p>
</div>

<div class="home-search span4">
<center><h3>Find Your Next Custom Home Here</h3></center><br />

<%= search_form_for @q do |f| %>


<b>Square Footage Min: </b><center><%= f.text_field :sqfoot_gteq %></center>

<b>Square Footage Max: </b><center><%= f.text_field :sqfoot_lteq %></center>


<b>Number of Bedrooms: </b><center><%= f.select :bedrooms_eq, options_for_select([[''],['1', 1], ['2', 2],['3', 3],['4', 4]]), :class => 'select_field' %></center>


<b>Number of Bathrooms: </b><center><%= f.select :bathrooms_eq, options_for_select([[''],['1', 1], ['2', 2],['3', 3],['4', 4]]), :class => 'select_field' %></center>


<b>Number of Stories:  </b><center><%= f.select :stories_eq, options_for_select([[''],['Single-Story', 1], ['Multi-Story', 2]]), :class => 'select_field' %></center>
 
<br /><br />
<center><p><%= f.submit class: "btn btn-large btn-primary" %> 
	<%= link_to "More Options", plans_path, class: "btn btn-large btn-primary" %>
</p></center>


<% end %>

</div>

<div class="popularplans span7">
<h3>Check Out Some of Our Most Popular Plans</h3><br />




<div class="pic span3">
<%= image_tag("Exterior.jpg") %>
</div>

<div class="pic span3">
<%= image_tag("Living-Kitchen1.jpg") %>
</div>
<div class="pic span3">
<%= link_to image_tag("LivingRoom.jpg"), "#" %><br /><br />
</div>
<div class="pic span3">
<%= image_tag("Ctyard1.jpg") %>
</div>
<div class="pic span3">
<%= link_to image_tag("3956planv2.jpg"), "#" %>
</div>
<div class="pic span3">
<%= image_tag("ExteriorRear2.JPG") %><br /><br />
</div>
<div class="pic span3">
<%= link_to image_tag("1Front2.jpg"), "#" %>
</div>
<div class="pic span3">
<%= image_tag("silverton-32.jpg") %>
</div>
<div class="pic span3">
<%= link_to image_tag("Patio1.jpg"), "#" %><br /><br /><br /><br />
</div>
</div>

<div class="astric span12">
<p>* * * *</p>
</div>

<div class="questions span12">
	<h3>Still have questions?</h3>
	<p>Check out our FAQ page or feel free to <%= link_to "Contact Us", contact_path %></p><br /><br />
</div>
	













