<script language="JavaScript1.1">
<!--

/*
JavaScript Image slideshow:
By JavaScript Kit (www.javascriptkit.com)
Over 200+ free JavaScript here!
*/

var slideimages=new Array()
var slidelinks=new Array()
function slideshowimages(){
for (i=0;i<slideshowimages.arguments.length;i++){
slideimages[i]=new Image()
slideimages[i].src=slideshowimages.arguments[i]
}
}

function slideshowlinks(){
for (i=0;i<slideshowlinks.arguments.length;i++)
slidelinks[i]=slideshowlinks.arguments[i]
}

function gotoshow(){
if (!window.winslide||winslide.closed)
winslide=window.open(slidelinks[whichlink])
else
winslide.location=slidelinks[whichlink]
winslide.focus()
}

//-->
</script>



<script>
$(document).ready(function(){
	$('#first').click(function(){
		$('.header').css({"background" : "url(/assets/Exterior.jpg)",
						"background-size" : "cover"

			});
	});
$('#second').click(function(){
		$('.header').css({"background" : "url(/assets/LivingRoom.jpg)",
						"background-size" : "cover"

			});
	});
$('#third').click(function(){
		$('.header').css({"background" : "url(/assets/Back2.jpg)",
						"background-size" : "cover"

			});
	});
});
</script>

<!-- Full Page Image Header Area -->


    <div id="top" class="header">

    	     
    	<div id="side-text" class="col-md-4 pull-right">
			<h3>Nuvolio</h3>
    		<p>Search Through 1000's of architectual plans and get a head start on your custom home!</p><br />
    		<ul>
    			<li>Award Winning Designs</li>
    			<li>Austin/Hill Country Architecture</li>
    			<li>Modern Style</li>

    		</ul>
    		<p><br />Make your dream home a reality!</p>
    		<div id="first" class="col-md-4">
    			<%= image_tag "Exterior.jpg" %>
    		</div>
    		<div id="second" class="col-md-4">
    			<%= image_tag "LivingRoom.jpg" %>
    		</div>
    		<div id="third" class="col-md-4">
    			<%= image_tag "Back2.jpg" %><br /><br />
    		</div>
    		<p><center><a href="#about" class="btn btn-primary btn-lg">Find Out More</a></center></p>
    	</div>

		
	</div>

    <!-- /Full Page Image Header Area -->

    <div class="reset span12"></div>
<div id="about" class="more-info">
	<h3>Nuvolio | Making building your next custom home easy!</h3>
	<p>Look around and check out our custom home plans.  If you like what you see, save it, email the plan to your friends for feedback, or purchase it!</p>
	<p>When you purchase the plan you will be sent the <u>complete architectural</u> drawing and have everything you need to get started on your new custom home</p>
<br />
</div>

<div id="services" class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Our Services</h2>
            <hr>
          </div>
        </div>

	<div class="col-md-2 col-md-offset-2 text-center">
<div class="home-top1"> 

<img src="/assets/mhouse.jpg">
<h4><%= link_to "Search for Custom Plans", plans_path %></h4>
<p><span>Search our database of over 1000 plans</span></p>
<p>Don't settle for what "Almost" works.  with our extensive plan listing you are sure to find exactly what you need</p>
</div>
</div>
<div class="col-md-2">
<div class="home-top1">
<img src="/assets/mhouse.jpg">
<h4><%= link_to "Contact an Architect", plans_path %></h4>
<p><span>Have a question about a plan?</span></p>
<p>We can put you in contact with the plan's designer and make sure ALL your questions are answered.</p>
</div>
</div>
<div class="col-md-2">
<div class="home-top1">
<img src="/assets/mhouse.jpg">
<h4><%= link_to "Purchase a plan", plans_path %></h4>
<p><span>Save by purchasing a completed plan</span></p>
<p>Build the exact custom home you want in the price range you can afford. <%= link_to "Click for more details", contact_path %></p>
</div>
</div>
<div class="col-md-2">
<div class="home-top1">
<img src="/assets/mhouse.jpg">
<h4><%= link_to "Custom Modifications", plans_path %></h4>
<p><span>Have you found the right design, but need it adjusted?</span></p>
<p>No problem, your adjustments can be made by the at a reasonable hourly rate.  
</p>
</div>
</div>
</div>
</div>

<br /><br />
<div class="row">
	<div class="container">

		<div id="home-search" class="col-md-4">
<center><h3>Find Your Next Custom Home Here</h3></center><br />

<%= search_form_for @q do |f| %>


<p>Square Footage Min: <%= f.text_field :sqfoot_gteq %></p>

<p>Square Footage Max: <%= f.text_field :sqfoot_lteq %></p>


<p>Number of Bedrooms: <%= f.select :bedrooms_eq, options_for_select([[''],['1', 1], ['2', 2],['3', 3],['4', 4]]), :class => 'select_field' %></p>


<p>Number of Bathrooms: <%= f.select :bathrooms_eq, options_for_select([[''],['1', 1], ['2', 2],['3', 3],['4', 4]]), :class => 'select_field' %></p>


<p>Number of Stories: <%= f.select :stories_eq, options_for_select([[''],['Single-Story', 1], ['Multi-Story', 2]]), :class => 'select_field' %></p>
 
<center><p><%= f.submit class: "btn btn-lg btn-primary" %> 
	<%= link_to "More Options", plans_path, class: "btn btn-lg btn-primary" %>
</p></center>


<% end %>

</div>
<div class="col-md-8">
<div class="popular">
<br />


<div class="slideshow">
	<center>
<a href="javascript:gotoshow()"><img src="food1.jpg" name="slide" border=0 width=640 height=360></a>
</center>
<script>
<!--

//configure the paths of the images, plus corresponding target links
slideshowimages("/assets/Exterior.jpg","/assets/Patio.jpg","/assets/3956planv2.jpg","/assets/Back2.jpg","/assets/Patio.jpg","/assets/Master SuiteBathroom-1.jpg","/assets/3956planv2.jpg")
slideshowlinks("http://www.nuvolio.com/plans","http://www.nuvolio.com/plans","http://www.nuvolio.com/plans","http://www.nuvolio.com/plans","http://www.nuvolio.com/plans","http://www.nuvolio.com/plans","http://www.nuvolio.com/plans")

//configure the speed of the slideshow, in miliseconds
var slideshowspeed=3500

var whichlink=0
var whichimage=0
function slideit(){
if (!document.images)
return
document.images.slide.src=slideimages[whichimage].src
whichlink=whichimage
if (whichimage<slideimages.length-1)
whichimage++
else
whichimage=0
setTimeout("slideit()",slideshowspeed)
}
slideit()

//-->

</script>
</div>
</div>
</div>
</div>
</div>

<div class="col-md-12">
	<div class="astric">
<p></p><br /><br />
</div>

</div>




<div class="questions span12">
	<h3>Still have questions?</h3>
	<p>Check out our FAQ page or feel free to <%= link_to "Contact Us", contact_path %></p><br /><br />
</div>

<!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->

   
    <script>
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>
	












