
<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script>

$(document).ready(function() {


	$('#first').click(function(e){
		e.preventDefault();
		$('#picture').html($('#first').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);
});

$('#elevation').click(function(e){
	e.preventDefault();
		$('#picture').html($('#elevation').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);


});

$('#second').click(function(e){
	e.preventDefault();
		$('#picture').html($('#second').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);


});
$('#image').click(function(e){
	e.preventDefault();
		$('#picture').html($('#image2').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);


});

$('#image2').click(function(e){
	e.preventDefault();
		$('#picture').html($('#image2').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);


});
$('#image5').click(function(e){
	e.preventDefault();
		$('#picture').html($('#image5').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);


});
$('#image3').click(function(e){
	e.preventDefault();
		$('#picture').html($('#image3').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);


});
$('#image4').click(function(e){
	e.preventDefault();
		$('#picture').html($('#image4').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);


});
	});

</script>

<script>
$(document).ready(function() {
$( "#up" ).click(function() {
  $( "#firstgroup" ).toggle( "slow") 
  $("#secondgroup").toggle("slow")

	});
$( "#down" ).click(function() {
  $( "#firstgroup" ).toggle( "slow") 
  $("#secondgroup").toggle("slow")

	});
$( "#down2" ).click(function() {
  $( "#secondgroup" ).toggle( "slow") 
  $("#thirdgroup").toggle("slow")

	});
$( "#up2" ).click(function() {
  $( "#secondgroup" ).toggle( "slow") 
  $("#thirdgroup").toggle("slow")

	});
});
</script>

<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">

<div id="plan" class="col-md-10">
<div id="picture">
<center><%= link_to image_tag(@plan.drawing_1.url(:full)), new_plan_saved_plan_path(@plan)%></center>
</div>
<center>
<br /><br />

		<% unless @plan.name.blank? %>
		<p>
		  <b>Name:</b>
		  <%= @plan.name %> |

		<% end %>

		  <b>Sqfoot:</b>
		  <%= @plan.sqfoot %> |

		  <b>Bedrooms:</b>
		  <%= @plan.bedrooms %> |

		  <b>Bathrooms:</b>
		  <%= @plan.bathrooms %> |

			<% unless @plan.half_bath.blank? %>

		  <b>Half bath:</b>
		  <%= @plan.half_bath %> 

			<% end %>

		<p>
		  <b>Living:</b>
		  <%= @plan.living %> |

		  <b>Dining:</b>
		  <%= @plan.dining %> |

		  <b>Levels:</b>
		  <%= @plan.stories %>

		<% unless @plan.view.blank? %>

		  <b>View:</b>
		  <%= @plan.view %> |

		<% end %>
		<% unless @plan.width.blank? %>

		  <b>Width:</b>
		  <%= @plan.width %> |

		<% end %>
		<% unless @plan.depth.blank? %>

		  <b>Depth:</b>
		  <%= @plan.depth %> 

		<% end %>

	</center>
		
		</p><br />
<div id="purchase" class="col-md-6">
<% if @plan.price.blank? %>
<center><p><b>Price: $<%= (0.75 * @plan.sqfoot).to_i %></b> <%= link_to "Purchase new_plan_saved_plan_path!", new_plan_order_path(@plan), class: "btn btn-primary btn-lg" %></center></p>
<% else %>
<center><p><b>Price: $<%= (@plan.price * @plan.sqfoot).to_i %></b></p><p> <%= link_to "Purchase Plan!", new_plan_order_path(@plan), class: "btn btn-primary btn-lg"   %></center></p><br />
<% end %>

</div>

<div class="col-md-12 col-md-offset-3">
	<ul>
		<h4><i class="purchase-icon fa fa-star"></i> <%= link_to "What Does My Purchase Include?", "/purchase_info" %></h4>
		<h4><i class="purchase-icon fa fa-star"></i> <%= link_to "Frequently Asked Questions", "/questions" %></h4>
		<h4><i class="purchase-icon fa fa-star"></i> <%= link_to "What If I Want To Make Custom Modificatons To The Plan?", "/custom_mods" %></h4><br />
		
	</ul>
</div>
<div class="col-md-12 text-center">
			<back>
	<p><INPUT Type="button" class="btn btn-primary btn-large" VALUE="Back To Search" onClick="history.go(-1);return true;"></p><br /><br /><br />
	</back>
</div>
</div>
	

<div id="sidebar_show" class="well col-md-2">
	
<% if user_signed_in? && @plan.accessible_to_user_by_saved?(current_user) %>
<center><%= link_to "More Info", new_plan_saved_plan_path(@plan), class: "btn btn-primary" %></center><br />

<% else %>
<center><%= link_to "More Info/Save Plan", new_plan_saved_plan_path(@plan), class: "btn btn-primary" %></center><br />

<% end %>

<%#<% if @plan.image3.blank? | @plan.image4.blank? | @plan.image5.blank? %>
<p></p>
<%#<% else %>
<!--
	<center><div id ="up"><i class="up-icon fa fa-chevron-up"></i></div></center>
<center><div id ="down"><i class="down-icon fa fa-chevron-down"></i></div></center>
<center><div id ="down2"><i class="down-icon fa fa-chevron-down"></i></div></center>
<%#<% end %>
-->
<div id="firstgroup">
<center><div >up</div></center>
<div id="pics">
		<div id="first">
		<%= link_to image_tag(@plan.drawing_1.url(:full)), new_plan_saved_plan_path(@plan) %>

	</div>
</div>
<% unless @plan.drawing_2.blank? %>
<div id="pics">
			<div id="second">
			<%= link_to image_tag(@plan.drawing_2.url(:full)), new_plan_saved_plan_path(@plan) %>
		</div>
</div>
<% end %>
<div id="pics">
			<div id="elevation">
			<%= link_to image_tag(@plan.elevation.url(:full)), new_plan_saved_plan_path(@plan)%>
		</div>
</div>

<% unless @plan.image2.blank? %>
		<div id="pics">
			<div id="image2">
					<%#<% unless image.image.blank? %>
					<%= link_to image_tag(@plan.image2.url), new_plan_saved_plan_path(@plan) %>
			</div>
	</div>
<% end %>
<center><%= link_to "Purchase Plan!", new_plan_order_path(@plan), class: "btn btn-primary" %></center>
</div>
<center><div id ="down"><i class="down-icon fa fa-chevron-down"></i></div></center>
<div id="secondgroup">
<center><div id ="up"><i class="up-icon fa fa-chevron-up"></i></div></center>	
<% unless @plan.image3.blank? %>
		<div id="pics">
			<div id="image3">
					<%#<% unless image.image.blank? %>
					<%= link_to image_tag(@plan.image3.url), new_plan_saved_plan_path(@plan) %>
			</div>
	</div>
<% end %>
<% unless @plan.image4.blank? %>
		<div id="pics">
			<div id="image4">
					<%#<% unless image.image.blank? %>
					<%= link_to image_tag(@plan.image4.url), new_plan_saved_plan_path(@plan) %>
			</div>
	</div>
<% end %>
<% unless @plan.image5.blank? %>
		<div id="pics">
			<div id="image5">
					<%#<% unless image.image.blank? %>
					<%= link_to image_tag(@plan.image5.url), new_plan_saved_plan_path(@plan) %>
			</div>
	</div>
<% end %>
<% unless @plan.image7.blank? %>
		<div id="pics">
			<div id="image7">
					<%#<% unless image.image.blank? %>
					<%= link_to image_tag(@plan.image7.url), new_plan_saved_plan_path(@plan) %>
			</div>
	</div>
<% end %>
<center><%= link_to "Purchase Plan!", new_plan_order_path(@plan), class: "btn btn-primary" %></center>
</div>
<center><div id ="down2"><i class="down-icon fa fa-chevron-down"></i></div></center>
<div id="thirdgroup">
<center><div id ="up2"><i class="up-icon fa fa-chevron-up"></i></div></center>	
<% unless @plan.image8.blank? %>
		<div id="pics">
			<div id="image8">
					<%#<% unless image.image.blank? %>
					<%= link_to image_tag(@plan.image8.url), new_plan_saved_plan_path(@plan) %>
			</div>
	</div>
<% end %>
<% unless @plan.image9.blank? %>
		<div id="pics">
			<div id="image9">
					<%#<% unless image.image.blank? %>
					<%= link_to image_tag(@plan.image9.url), new_plan_saved_plan_path(@plan) %>
			</div>
	</div>
<% end %>
<% unless @plan.image10.blank? %>
		<div id="pics">
			<div id="image10">
					<%#<% unless image.image.blank? %>
					<%= link_to image_tag(@plan.image10.url), new_plan_saved_plan_path(@plan) %>
			</div>
	</div>
<% end %>
<% unless @plan.image11.blank? %>
		<div id="pics">
			<div id="image11">
					<%#<% unless image.image.blank? %>
					<%= link_to image_tag(@plan.image11.url), new_plan_saved_plan_path(@plan) %>
			</div>
	</div>
<% end %>
<p>down</p>
<center><%= link_to "Purchase Plan!", new_plan_order_path(@plan), class: "btn btn-primary" %></center>
</div>
</div>

   




<div class="buttons span12">

	<% if user_signed_in? %>
		<% if current_user.has_role? :admin %>
		<%= link_to 'Edit', edit_plan_path(@plan), class: "btn btn-large btn-primary" %> 
		<%= link_to 'New Plan', new_plan_path, class: "btn btn-large btn-primary" %> <br />

		<% end %>
	<% end %>

	<br /><br /><br /><br />
</div>
</div>
</div>
